/* SELETTORE {
    proprietà: valore;
    proprietà: valore;
{}
}*/

/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* General */


/* utils */ 


