/* SELETTORE {
    proprietà: valore;
    proprietà: valore;
{}
}*/

/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* General */
body {
    background-color: rgb(185, 185, 185) ;
}

/* utils */ 
.container {
    background-color: rgb(255, 255, 255);
    max-width: 820px;
    margin: 2px auto;
    padding-left: 25px;
}


/* HEADER */ 

.container-header {
    height: 70px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 35px;
}

#title-logo {
    vertical-align: middle;
    padding-left: 20px;
}

#title {
    display: inline;
    line-height: 70px;
    vertical-align: middle;
    font-weight: 900;
}

/* NAVIGATION */ 
nav>.container {
    height: 50px;
    line-height: 50px;
    border-radius: 10px 10px 0 0;
}

.btn {
    padding: 7px 10px 7px 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid;
    text-decoration: none;
}

.btn.add-task {
    background-color: #1f90fe;
    border-color: #1f90fe;
    color: #fff;
}

.btn.add-section {
    background-color: #fff;
    color: #868f96;  
    border-color: currentColor;  
}

/* MAIN */ 

main>.container {
    border-radius: 0 0 10px 10px;
    padding-top: 30px;
}

ul {
    list-style: none;
    padding: 10px 0 10px 0;
}

li {
    padding: 7px 0 7px 0;
}

.main-list-item {
    display: inline;

}

.downside-triangle {
    font-size: 9px;
    vertical-align: middle;
    line-height: 1;
}

.round-checkbox {
    display: inline-block;
    width: 15px;
    height: 15px;
    font-size: 11px;
    color: green;
    border:1px solid currentColor;
    border-radius: 50%;
    text-align: center;
}

.round-checkmark {
    display: inline-block;
    width: 15px;
    height: 15px;
    font-size: 11px;
    color: #ff5555;
    border:1px solid #ff5555;
    border-radius: 50%;
    text-align: center;
}

/*small boxes layout*/

.box {
    border-style: none;
    color: #fff;
    font-size: 9px;
    padding: 4px 6px 4px 6px;
    border-radius: 8px;
    vertical-align: middle;
}

/*small boxes color*/

.editorial {
    background-color: #40a0ff;
}
.q1-goals {
    background-color:#9d72e5;
}
.recruiting {
    background-color:#65c1a9;
}
.mobile {
    background-color:#f39f33;
}
.website {
    background-color: #d863a1;
}
.sales {
    background-color:#b1c927;
}
.editorial-1 {
    background-color:#f39f33;
}